{% extends "home.html" %}
{% load static %}
{% load i18n %}
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
{% block content %}
    <div id="login" style="animation-name: fade-in;animation-duration: 2s; width: 27%;">
    <h1>{% trans "Войти" %}</h1>
        <form class="form-horizontal" role="form" action="{% url 'login' %}" id="login-form" method="POST">
        {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                {{ form.email }}
            </div>
            <div class="control-group">
                {{ form.password }}
            </div>
            <div class="control-group">
                <div class="controls" >
                    <button type="submit" class="btn btn-primary btn--font-weight">{% trans "Войти" %}</button>
                </div>
            </div>
        <div id="form-errors" style="position: fixed; text-align: center; width: 27%">
            <p>{{error}}</p>
        </div>
        </form>
    <div style="position: fixed; text-align: center; width: 27%">
        <p style="font-size: 15px;margin-top: 130px;">{% trans "Ещё не зарегистрированы?" %}<a style="text-decoration: aliceblue;color: #0c4b89;" href="{% url 'registration' %}" class="regLink" tabindex="5">{% trans "Регистрация" %}</a></p><br>
        <a style="font-size: 15px;text-decoration: aliceblue;color: #fefefe;" href="{% url 'password_reset' %}">{% trans "Забыли пароль?" %}</a>
    </div>
    </div>

    <script type="text/javascript">
        $('#login-form').submit(function () {
            $("#form-errors").val('');
            var url = "{{ request.get_full_path }}";
            $.ajax({
                data: $(this).serialize(),
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                dataType: 'html',
                success: function () {
                    document.location.href = url.replace('login/', 'accesses/');
                },
                error: function (data) {
                    $("#form-errors").html(JSON.parse(data.responseText)['form']['__all__'][0]);
                }
            });
            return false;
        });

    </script>
{% endblock %}
