{% extends "home.html" %}
{% load static %}
{% load i18n %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
    <div id="login" style="animation-name: fade-in;animation-duration: 2s; width: 25%;font-size: 1.6rem;">
    <div class="col-xs-12 titleAuth">
        <p>{% trans "Ваш пароль был сброшен! Теперь вы можете " %} <a href="{% url 'login' %}"  tabindex="1">
            {% trans "войти" %}
        </a>{% trans "в систему." %} </p>
    </div>
    </div>
{% endblock %}