{% extends "home.html" %}
{% load static %}
{% load i18n %}
    <script src="{% static "js/jquery.min.js" %}"></script>
{% block title %}Reset Password{% endblock %}

{% block content %}
    <div id="login" style="animation-name: fade-in;animation-duration: 2s; width: 32%;font-size: 1.6rem;">
        <p>{% trans "Пожалуйста, укажите свой адрес электронной почты, чтобы получить инструкции по его сбросу." %}</p>
        <form action="" class="form-horizontal" role="form" method="post">
            <div style="display:none">
                <input  type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <p>
                {{ form.email }}
                <input style="margin-top: 10px;" class="btn btn-primary btn--font-weight" type="submit" value="{% trans "Сбросить пароль" %}" />
            </p>
             {{ form.email.errors }}
        </form>
    </div>
{% endblock %}