{% extends "home.html" %}
{% load static %}
{% load i18n %}
    <script src="{% static "js/jquery.min.js" %}"></script>
{% block title %}Setting New password{% endblock %}

{% block content %}
    <div id="login" style="animation-name: fade-in;animation-duration: 2s; width: 25%;font-size: 1.6rem;">
    {% if validlink %}
        <p>{% trans "Пожалуйста дважды введите новый пароль." %}</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div style="margin-top: 10px;">
                <label for="id_new_password1">{% trans "Новый пароль:" %}</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div>
                <label for="id_new_password2">{% trans "Подтвердите пароль:" %}</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <div class="control-group">
                <div class="controls" >
                    <button style="margin-top: 10px;" type="submit" class="btn btn-primary btn--font-weight">{% trans "Изменить пароль" %}</button>
                </div>
            </div>
        </form>
    {% else %}
        <h1>{% trans "Неудачный сброс пароля" %}</h1>
        <p>{% trans "Ссылка на сброс пароля недействительна," %}<br />
        {% trans "возможно, потому, что она уже использованна." %}<br />
        {% trans "Пожалуйста, запросите новый сброс пароля." %}</p>

    {% endif %}
    </div>
{% endblock %}