{% load i18n %}

{% blocktrans %}Здравствуйте, {% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}!

{% blocktrans %}

Вы получили это письмо потому, что вы (либо кто-то, выдающий себя за вас) попросили выслать новый
пароль к вашей учётной записи на сайте {{ domain }}.  Если вы не просили выслать пароль, то не обращайте внимания на это письмо.

{% endblocktrans %}

{% blocktrans %}
Чтобы сбросить пароль, пожалуйста, нажмите на следующую ссылку, или скопируйте и вставьте ее
в ваш веб-браузер:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans %}Ваше имя пользователя, в случае, если вы забыли:{% endblocktrans %} {{ user.username }}


{% blocktrans %}Best regards{% endblocktrans %},
{{ site_name }} {% blocktrans %}Management{% endblocktrans %}

