{% extends "home.html" %}
{% load static %}
{% load i18n %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% block content %}
    <div id="registration" style="animation-name: fade-in;animation-duration: 2s; width: 27%;">
    <h1>{% trans "Регистрация" %}</h1>
        <form class="form-horizontal" role="form" action="{% url 'registration' %}" id="registration-form" method="POST">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                {{ form.username }}
            </div>
            <div class="control-group">
                {{ form.email }}
            </div>
            <div class="control-group">
                {{ form.password }}
            </div>
            <div class="control-group">
                <div class="controls" style="text-align: center">
                    <button type="submit" class="btn btn-primary btn--font-weight">{% trans "Зарегистрироваться" %}</button>
                </div>
            </div>
            <div id="form-errors" style="position: fixed; text-align: center; width: 27%">
                <p>{{error}}</p>
            </div>
        </form>
        <div style="position: fixed; text-align: center; width:  27%">
            <p style="font-size: 15px;margin-top: 130px; ">{% trans "Уже зарегистрированы?" %}<a style="text-decoration: aliceblue;color: #0c4b89;" href="{% url 'login' %}" class="regLink" tabindex="5">{% trans "Войти" %}</a></p>
        </div>
    </div>
    <script type="text/javascript">
        $('#registration-form').submit(function () {
            $("#form-errors").val('');
            var url = "{{ request.get_full_path }}";
            $.ajax({
                data: $(this).serialize(),
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                dataType: 'json',
                success: function () {
                    document.location.href = url.replace('registration/', '/');
                },
                error: function (data) {
                    $("#form-errors").html(JSON.parse(data.responseText)['form']['__all__'][0]);
                }
            });
            return false;
        });

    </script>
{% endblock %}