{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load filetransfers %}
{% block content %}
    <main class="main">
        <div class="container">
        <div class="admin-datalist-page">
            <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {% render_upload_data upload_data %}
              {{ form }}
              <input type="submit" class="btn btn-primary btn--font-weight" value="Загрузить" style="position: absolute;padding: 15px;margin-left;margin-left: 10px;" />
{#                <button value="Upload" class="btn btn-primary float-r btn--font-weight" type="submit">{% trans "+ Добавить файл" %}</button>#}
            </form>
        </div>
        </div>
    </main>
{% endblock %}